
body {
    width: 960px;
}

h1 {
   background-color: #4aaaa5;
   color: white;
   width: 300px;
   height: 100px;
   margin-bottom: auto;
   font-size: 35px;
   float: left;
   text-align: center;
   position: relative;
   margin-left: 10%;
}

h2 {
    color: #4aaaa5;
    position: relative;
    right: 200px;
    font-weight: bold;
    font-size: 30px;
}

header {
    width:960px;
}

p {
    color: #777777;
    text-align: center;
    font-style: italic;
    position: relative;
}

.barTab {
    display: block;
    float: right;
    position: relative;
    height: 100px;
    top: 50px;
    right: 100px;
    font-weight: bold;
}

.style {
    width: 1200px;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/tiny-squares.png");
}

#insideBox {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border: 1px ridge grey;
    width: 960px; 
    height: 400px;
    text-align: center;;
    position: relative;
    top: 50px;
}

#family {
    width: 40%;
    height: 95%;
    position: relative;
    float: left;
    clear: right;
}

.message {
    text-align: left;
}

.personal {
    text-align: left;
    padding-top: 20px;
}

.footer {
    position: relative;
    padding-top: 200px;
    text-align: center;
    clear: both;
}

@media only screen and (min-width: 640px) {
   header, .barTab { 
       width: 320px;
       position: static;
   }
   #insideBox {
    background-color: white;
    padding: 10%;
    margin: 10% auto;
    border: 1px ridge grey;
    width: 640px; 
    height: 60%;
    text-align: center;;
    position: relative;
    top: 15%;;
}
   #family {
    width: 40%;
    height: 95%;
    position: relative;
    float: left;
    clear: right;
}
   .style {
       position: static;
       width: 100%;
       font-weight: bold;
   }
   .footer {
    position: relative;
    padding-top: 20%;
    text-align: center;
    clear: both;
}
} 

@media only screen and (max-width: 768px) {
    header, .barTab { 
        width: 50%;
        position: static;
    }
    #insideBox {
     background-color: white;
     padding: 10%;
     margin: 10% auto;
     border: 1px ridge grey;
     width: 768px; 
     height: 60%;
     text-align: center;;
     position: relative;
     top: 15%;;
 }
    #family {
     width: 40%;
     height: 95%;
     position: relative;
     float: left;
     clear: right;
 }
    .style {
        position: static;
        width: 100%;
        font-weight: bold;
    }
    .footer {
     position: relative;
     padding-top: 20%;
     text-align: center;
     clear: both;
 }
 } 

 @media only screen and (max-width: 980px) {
    header, .barTab { 
        width: 50%;
        position: static;
    }
    #insideBox {
     background-color: white;
     padding: 10%;
     margin: 10% auto;
     border: 1px ridge grey;
     width: 640px; 
     height: 60%;
     text-align: center;;
     position: relative;
     top: 15%;;
 }
    #family {
     width: 40%;
     height: 95%;
     position: relative;
     float: left;
     clear: right;
 }
    .style {
        position: static;
        width: 980px;
        font-weight: bold;
    }
    .footer {
     position: relative;
     padding-top: 20%;
     text-align: center;
     clear: both;
 }
 } 

